# Datan analysointi K2021 - Tehtävät kerta 3

Palauta ratkaisusi Moodleen, kun olet ensin testannut ratkaisusi toimivuuden Notebookilla tai omalla koneellasi. Kun olet palauttanut tehtäväsi Moodleen, ne arvioidaan pistein:
* 1,0 p. Vastaus oikein ensimmäisellä yrityksellä.
* 0,5 p. Vastaus oikein toisella yrityksellä.
* 0 p. Vastaus väärin kolmannella yrityksellä.

**Tee tehtävät ilman for-silmukoita tms.**

### 1. Päästöjen aiheuttajia

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'country' ja 'main activity sector name',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* laskee kuinka monta kertaa sarakkeen 'main activity sector name' eri arvot esiintyvät DataFramessa,
* tulostaa (viisi ensimmäistä riviä) järjestyksessä pienimmästä suurimpaan sarakkeen 'main activity sector name' arvojen lukumäärät.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

| | | |
|:---|:---|:---|
|45 |Capture of greenhouse gases under Directive 2009/31/EC      | 14|
|46 |Transport of greenhouse gases under Directive 2009/31/EC    | 22|
|40 |Production of glyoxal and glyoxylic acid                    | 37|
|39 |Production of adipic acid                                   | 43|
|44 |Production of soda ash and sodium bicarbonate               |325|
|Name: sector, dtype: int64| | |

In [38]:
def emissions(url):
    # Kirjoita vastauksesi tähän
    import pandas as pd    
    df = pd.read_csv(url, 
                     engine='python', 
                     encoding='utf-8-sig', 
                     sep='\\t', 
                     usecols=['"country', 'main activity sector name'],
                     converters={'"country': (lambda x : x[1:])}
                     )
    df.columns = df.columns.str.replace('"', '')
    df.columns = df.columns.str.replace('main activity sector name', 'sector')
    
    df = df[df['sector'] != '20-99 All stationary installations']
    df = df[df['sector'] != '21-99 All industrial installations (excl. combustion)']
    
    tulos = df['sector'].value_counts(ascending=True)
    
    tulos = tulos.head(5)
    
    # Älä kirjoita muita print komentoja ennen tulos muuttujan tulostusta.
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

45 Capture of greenhouse gases under Directive 2009/31/EC       14
46 Transport of greenhouse gases under Directive 2009/31/EC     22
40 Production of glyoxal and glyoxylic acid                     37
39 Production of adipic acid                                    43
44 Production of soda ash and sodium bicarbonate               325
Name: sector, dtype: int64

### 2. Päästöjen summaaminen

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'main activity sector name', 'value' ja 'year',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
* laskee uuteen DataFrameen kuinka paljon ovat kokonaispäästöt sektoreittain (summa sarakkeesta 'values', jotka on ryhmitelty sarakkeen 'main activity sector name' mukaan),
* järjestää uuden DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,
* tulostaa viisi ensimmäistä riviä DataFramesta siten, että sarake 'main activity sector name' on nimetty sarakkeeksi 'sector',
* huomaa, että sarake 'value' on ennen saraketta 'sector'.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

|   | value        |                   sector             |
|:---|:---|:---|
|1  | 1.273006e+10 |              20 Combustion of fuels  |
|5  | 2.053915e+09 | 24  Production of pig iron or steel  |
|10 | 1.803550e+09 |     29 Production of cement clinker  |
|2  | 1.678130e+09 |         21  Refining of mineral oil  |
|0  | 5.644274e+08 |                         10 Aviation  |

In [82]:
def emissions(url):
    # Kirjoita vastauksesi tähän
    import pandas as pd    
    df = pd.read_csv(url, 
                     engine='python', 
                     encoding='utf-8-sig', 
                     sep='\\t', 
                     usecols=['main activity sector name', 'value', 'year"'],
                     converters={'year"': (lambda x : x[:-1])}
                     )
    
    df.columns = df.columns.str.replace('"', '')
    df.columns = df.columns.str.replace('main activity sector name', 'sector')
    df = df[df['sector'] != '20-99 All stationary installations']
    df = df[df['sector'] != '21-99 All industrial installations (excl. combustion)']
    
    
    df2 = df[df['year'].isin(['2010', '2011', '2012', '2013', '2014', '2015'])]
    df3 = pd.DataFrame(df2.groupby(df2['sector'])['value'].sum()).reset_index()
    
    df3 = df3.sort_values('value', ascending = False)
    
    df3 = df3[['value','sector']]

    tulos = df3.head(5)
    # Älä kirjoita muita print komentoja ennen tulos muuttujan tulostusta.
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

           value                               sector
1   1.273006e+10               20 Combustion of fuels
5   2.053915e+09  24  Production of pig iron or steel
10  1.803550e+09      29 Production of cement clinker
2   1.678130e+09          21  Refining of mineral oil
0   5.644274e+08                          10 Aviation

### 3. Päästöjen muutokset vuosittain

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
* laskee uuteen DataFrameen kuinka paljon päästöjä on ollut yhteensä vuosittain (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeen 'year' arvojen mukaan),
* laskee uuteen DataFrameen uuteen sarakkeeseen 'change' kuinka paljon päästöt muuttuivat prosentuaalisesti edellisestä vuodesta (huom! vuoden 2010 arvo saa olla NaN, koska vuoden 2009 arvot on suodatettu pois),
* pyöristää em. prosentuaalisen muutoksen yhden desimaalin tarkkuuteen,
* laskee DataFramen uuteen sarakkeeseen 'cumsum' kumulatiivisen päästöjen summan vuodesta 2010 vuoteen 2015,
* tulostaa edellä kuvatulla tavalla tuotetun DataFramen siten, että DataFramen indeksinä on 'year'.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

| |emissions|  change        |cumsum |
|:---|:---|:---|:---|
|year     |                |       |                |
|2010  		|5.068290e+09  |   NaN | 5.068290e+09   |
|2011  		|3.505169e+09  | -30.8 | 8.573458e+09   |
|2012  		|3.788401e+09  |   8.1 | 1.236186e+10   |
|2013  		|2.833849e+09  | -25.2 | 1.519571e+10   |
|2014  		|2.891243e+09  |   2.0 | 1.808695e+10   |
|2015  		|3.341047e+09  |  15.6 | 2.142800e+10   |

In [112]:
def emissions(url):
    import pandas as pd    
    df = pd.read_csv(url, 
                     engine='python', 
                     encoding='utf-8-sig', 
                     sep='\\t', 
                     usecols=['country_code','main activity sector name', 'value', 'year"'],
                     converters={'year"': (lambda x : x[:-1])}
                     )
    
    df.columns = df.columns.str.replace('"', '')
    df.columns = df.columns.str.replace('main activity sector name', 'sector')
    df.columns = df.columns.str.replace('value', 'emissions')
    df = df[df['sector'] != '20-99 All stationary installations']
    df = df[df['sector'] != '21-99 All industrial installations (excl. combustion)']
    
    
    df2 = df[df['year'].isin(['2010', '2011', '2012', '2013', '2014', '2015'])]
    df3 = pd.DataFrame(df2.groupby(df2['year'])['emissions'].sum())
    df3['change'] = df3['emissions'].pct_change()*100
    df3['change'] = df3['change'].round(1)
    df3['cumsum'] = df3['emissions'].cumsum()
    
    #df3.set_index('year')
    tulos = df3
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

         emissions  change        cumsum
year
2010  5.068290e+09     NaN  5.068290e+09
2011  3.505169e+09   -30.8  8.573458e+09
2012  3.788401e+09     8.1  1.236186e+10
2013  2.833849e+09   -25.2  1.519571e+10
2014  2.891243e+09     2.0  1.808695e+10
2015  3.341047e+09    15.6  2.142800e+10

### 4. Suurimmat kokonaispäästöt maittain

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
* laskee uuteen DataFrameen kuinka paljon päästöjä kukin maa on tuottanut minäkin vuonna (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeiden 'country_code' ja 'year' mukaan),
* tallentaa uuteen DataFrameen kunkin maan (sarake 'country_code') suurimmat päästöt (sarake 'value') ja päästön tuottamisvuoden (sarake 'year'),
* järjestää em. DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,
* nimeää sarakkeen 'country_code' sarakkeeksi 'ccode',
* tarvittaessa järjestää sarakkeet järjestykseen 'ccode', 'year', 'value' ja tulostaa viisi ensimmäistä riviä.

**Vinkki:** Tutki tarvittaessa pandasin groupby metodin [kuvausta](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

| |ccode | year |    value |
|:---|:---|:---|:---|
|30    | DE   |	2010 | 1.298336e+09 |
|66    | GB   |	2010 | 6.420594e+08 |
|50    | ES   |	2012 | 5.579101e+08 |
|150   | PL   |	2010 | 4.605025e+08 |
|102   | IT   |	2010 | 4.505878e+08 |

In [135]:
def emissions(url):
    import pandas as pd    
    df = pd.read_csv(url, 
                     engine='python', 
                     encoding='utf-8-sig', 
                     sep='\\t', 
                     usecols=['country_code','main activity sector name', 'value', 'year"'],
                     converters={'year"': (lambda x : x[:-1])}
                     )
    
    df.columns = df.columns.str.replace('"', '')
    df.columns = df.columns.str.replace('main activity sector name', 'sector')
    
    df = df[df['sector'] != '20-99 All stationary installations']
    df = df[df['sector'] != '21-99 All industrial installations (excl. combustion)']
    
    
    df2 = df[df['year'].isin(['2010', '2011', '2012', '2013', '2014', '2015'])]
    #df3 = pd.DataFrame(df2['value'].groupby([df2['country_code'], df2['year']]).sum())
    
    df3 = df2.groupby(["country_code", "year"], as_index=False)["value"].sum()
    df3 = df3.sort_values('value', ascending = False)
    df3 = df3.drop_duplicates('country_code')
    df3.columns = df3.columns.str.replace('country_code', 'ccode')
    
    tulos = df3.head(5)
    # Älä kirjoita muita print komentoja ennen tulos muuttujan tulostusta.
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

    ccode  year         value
30     DE  2010  1.298336e+09
66     GB  2010  6.420594e+08
50     ES  2012  5.579101e+08
150    PL  2010  4.605025e+08
102    IT  2010  4.505878e+08

### 5. Toiseksi suurimmat kokonaispäästöt maittain

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
* laskee uuteen DataFrameen kuinka paljon päästöjä kukin maa on tuottanut minäkin vuonna (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeiden 'country_code' ja 'year' mukaan),

* tallentaa uuteen DataFrameen kunkin maan (sarake 'country_code') **toiseksi** suurimmat päästöt (sarake 'value') ja päästön tuottamisvuoden (sarake 'year'),
* järjestää em. DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,
* nimeää sarakkeen 'country_code' sarakkeeksi 'ccode',
* tarvittaessa järjestää sarakkeet järjestykseen 'ccode', 'year', 'value' ja tulostaa viisi ensimmäistä riviä.

**Vinkkejä:** 
* Tutki tarvittaessa pandasin [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) ja [agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) metodien kuvauksia.
* Jos käytät pandasin agg metodin argumenttina funktiota, niin tulee funktion sisällä etsiä toiseksi suurin arvo .iloc ominaisuudella (Tämä on tärkeää etenkin tehtävän Moodle palautuksen yhteydessä). 

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

| |ccode | year |    value |
|:---|:---|:---|:---|
|33    | DE  |2013  |1.073414e+09|
|49    | ES  |2011  |5.561922e+08|
|152   | PL  |2012  |4.348634e+08|
|67    | GB  |2011  |4.252068e+08|
|62    | FR  |2012  |3.104471e+08|

In [146]:
def emissions(url):
    import pandas as pd    
    df = pd.read_csv(url, 
                     engine='python', 
                     encoding='utf-8-sig', 
                     sep='\\t', 
                     usecols=['country_code','main activity sector name', 'value', 'year"'],
                     converters={'year"': (lambda x : x[:-1])}
                     )
    
    df.columns = df.columns.str.replace('"', '')
    df.columns = df.columns.str.replace('main activity sector name', 'sector')
    
    df = df[df['sector'] != '20-99 All stationary installations']
    df = df[df['sector'] != '21-99 All industrial installations (excl. combustion)']
    
    
    df2 = df[df['year'].isin(['2010', '2011', '2012', '2013', '2014', '2015'])]
    
    df3 = df2.groupby(["country_code", "year"], as_index=False)["value"].sum()
    df3.columns = df3.columns.str.replace('country_code', 'ccode')
    df3 = df3.sort_values('value', ascending = False)
    df3 = df3.groupby(['ccode'], as_index=False).nth(1)
    
    tulos = df3.head(5)
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

    ccode  year         value
33     DE  2013  1.073414e+09
49     ES  2011  5.561922e+08
152    PL  2012  4.348634e+08
67     GB  2011  4.252068e+08
62     FR  2012  3.104471e+08